.todos-wrapper::-webkit-scrollbar {
    display: none;
}

.todos-wrapper {
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
}


.add-btn i {
    margin-right: 5px;
    margin-left: -3px;
}

app-todo-item {
    display: block;
    margin-bottom: 15px;
}