<div class="notes-wrapper">
    <div class="container">
        <div class="notes-list">

            <div class="note-card">
                <div class="note-card-title">
                    this is title
                </div>
                <div class="note-card-content">
                    i am here content
                </div>
            </div>

        </div>

        <div class="buttons-container buttons-centered">
            <a routerLink="add" class="btn add-btn">
                <i class="material-icons-outlined">add</i>    
                Add
            </a>
        </div>
    </div>
</div>