<h1 style="text-align: center;">Demo Routing Module with lazy loading</h1>
<a href="/">Home</a>
<h2>Admin Pages</h2>
<ul>
    <li>
        <a routerLink="admin/login">Login</a>
    </li>
    <li>
        <a routerLink="admin/list">Admin List</a>
    </li>
</ul>
<h2>User Pages</h2>
<ul>
    <li>
        <a routerLink="user/login">Login</a>
    </li>
    <li>
        <a routerLink="user/list">User List</a>
    </li>
</ul>
<router-outlet></router-outlet>
<h1>About and Contact page for lazy loading components</h1>
<button (click)="loadAbout()">About Load</button><br><br>
<button (click)="loadContact()">Contact Load</button>